/*CSS EXERCISES
        11) Give a maximum width to the body and center it into the page -done-
        12) Set every h1 to be centered -done-
        13) Change the color of each link in the page -done-
        14) Create a class with a border assigned to it -done-
        15) Set the previously created table to have rounded corners -done-
        16) Add a margin between every paragraph -done-
        17) Create a class which changes font size and text weight when applied -done-
        18) Create a class to hide a piece of content -done-
        19) Add a green border to each <td> -done-
        20) Add a dotted red border to each <tr> (note: <tr> does not accept a border property)
*/

body {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
}

table a {
  color: #005f73;
}

.selected {
  border: 2px solid #001219;
}

table,
th,
td {
  border: 2px solid green;
  border-radius: 10px;
}

p {
  margin: 20px;
}

.changeFont {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.hideContent {
  display: none;
}

.tdColor {
  border: tomato;
}
